.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;

    span {
      font-weight: bold;
      font-size: 20px;
      color: blue;
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      //   border: 1px solid themed("border");
      border-radius: 5px;
      padding: 5px;

      input {
        // border: none;
        width: 500px;
        height: 30px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
